body {
    font-family: 'Lato', sans-serif;
    color: #333;
    background: linear-gradient(to right, #dae2f8, #d6a4a4);
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    padding: 2em 0;
}

.profile {
    width: 150px;
    border-radius: 50%;
    border: 3px solid white;
}

.demo {
    width: 400px;
}

.intro-text {
    font-family: 'Merriweather', serif;
    color: white;
    margin-top: 0.5em;
}

#projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1em;
    padding: 2em;
}

.project {
    background-color: white;
    border-radius: 15px;
    padding: 1em;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.project:hover {
    transform: translateY(-5px);
}

.project-title {
    font-family: 'Merriweather', serif;
}

.project-description {
font-size: 0.9em;
line-height: 1.6;
}

.project-image {
    width: 100%;
    height: auto; 
    border-radius: 10px;
    margin-top: 1em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.solidity-image {
    width: 50%;
    height: auto; 
    border-radius: 10px;
    margin-top: 1em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


footer {
background-color: #333;
color: white;
padding: 1em 0;
bottom: 0;
width: 100%;
}

.contact-info {
margin-top: 0.5em;
color: rgb(54, 17, 17);
}